/* Author: Kyra Kieskamp
// File: style for the index.html page. 
*/

#wrapper {
     position: relative;
     float: left;
     top: 20px;
     font-family: sans-serif;
     font-size: 10px;
  }

  #tooltip{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color:black;
  }

  svg {
    font: 12px sans-serif;
}

text {
    pointer-events: none;
}

.inner_node rect {
    pointer-events: all;
}

.inner_node rect.highlight {
    stroke: #315B7E;
    stroke-width: 2px;
}

.outer_node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
    pointer-events: all;
}

.outer_node circle.highlight
{
    stroke: #315B7E;
    stroke-width: 2px;
}

.link {
    fill: none;
}

 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 2120px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

    table#table2 {
      width: 100%;
  }
  }
  table#table2 tr:nth-child(1) td:nth-child(1) {
    background-color: #eee;
  }
    table#table2 tr:nth-child(odd) {
      font-weight: bold;;
  }